// fonts variables
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora:wght@700&family=Montserrat:wght@400;500;700&display=swap');

$font-crimson: 'Crimson Pro', serif; //200
$font-lora: 'Lora', serif; //700
$font-montserrat: 'Montserrat', sans-serif; //400,500,700

// colors
$primary-background:#181719;
$text-color:#fff;
$gray-color: #A9A9A9;

// margin and paddings
$margin1:0.5rem;
$margin2:1rem;
$margin3:1.5rem;
$margin4:2rem;
$padding1:0.5rem;
$padding2:1rem;
$padding3:1.5rem;
$padding4:2rem;